#preflight {
    background-color: rgb(255, 240, 29);
}

#hotkey-info main {
    background-color: darkgreen;
}


body {
    font-size: 90px;
}

body>div:not(.active) {
    display: none;
}

main {
    width: 90%;
    text-align: center;
    align-content: center;
    justify-content: center;
}
ctx {
    padding-left: 0.10em;
    padding-right: 0.20em;
    padding-bottom: 0.30em;
}
ctx#L {
    position:fixed;
    bottom: 0;
    left:0;
}
ctx#R {
    position:fixed;
    bottom: 0;
    right:0;
}
key {
    display:inline-block;
    border: solid rgb(112, 112, 112) 0.15em;
    border-radius: 0.1em;
    box-shadow: rgb(77, 77, 77) 0.1em 0.1em;
    background: white;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
}